* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  overflow-x: hidden;
   max-width: 100vw;

}

body {
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1; /* Esto hace que el contenedor principal tome todo el espacio disponible */
}
