@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Pacifico&display=swap');

.header {
  background-image: linear-gradient(rgba(248, 203, 151, 0.35),
      rgba(248, 203, 151, 0.35),
      rgba(248, 203, 151, 0.35)),
    url(/fondo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 150px auto 0;
  display: flex;
  min-height: 95vh;
  align-items: center;
}

.header_content {
  background-color: #ffff;
  margin: 0px auto 0;
  display: flex;
}

.header_content p {
  padding: 2.3em;
  font-weight: 500;
  font-size: 20px;
  text-align: justify;
  line-height: 1.5;
}