.container {
  background-color: rgba(248, 203, 151, 1);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.column,.column3,.column4,.column2 {
  text-align: center;
}

.column2 {
  border-left: 3px solid white;
  border-right: 3px solid white;
  display: flex;
  align-items: center;
}

.column2 h3 {
  margin-left: 15px;
}

.column2 img {
  margin-left: 40px;
}

.column3 {
  border-right: 3px solid white;
  font-weight: 500;
  font-size: 15px;
  padding: 0px 30px;
}

.column3 p {
  margin-top: 30px;
}

.column4 {
  display: flex;
  align-items: center;
}

.column4 h3 {
  margin-left: 20px;

}

.column4 img {
  margin-left: 20px;
}